/*重置*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-size: 12px;
}

img{
    border: none;
}

ul,ol{
    list-style: none;
}

input,select,textarea{
    outline: none;
}

textarea{
    resize: none;
}

a{
    text-decoration: none;
}





/*clear float:清除浮动*/

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.clearfix{zoom:1}


/*headerBox a part:头部小样式*/
.headerBox{
    background: #F5F5F5;
    height: 60px;
}
.logo{
    padding-top: 19px;
    width: 320px;
}
.searchBox{
    width: 320px;
    margin-top: 10px;
}

.search_input{
    width: 214px;
    height: 14px;
    line-height: 14px;
    border: 2px solid #9F9F9F;
    border-right: none;
    padding: 11px 6px;

}

.search_btn{
    width:90px;
    height: 40px;
    background: url(../img/search_btn.png) left top no-repeat;
}

/*搜索交互*/
.search_hover{
    border-color: #3eabff;
}

.search_show{
    width: 450px;
    border: 2px solid #3EABFF;
    position: absolute;
    left: 0;
    top: 58px;
    background: #FFF;
}
28

/*通用样式*/
.comWidth{
    width:970px;
    margin:0 auto;
}

.fr{
    float: right;
}
.fl{
    float: left;
}
